dist/
moby/build/
moby/tmp/
moby/cloud/aws/ami_id.out
moby/cloud/azure/vhd_blob_url.out
moby/cloud/mobylinux.vhd
moby/packages/aws/var/dockerimages/
moby/packages/azure/var/dockerimages/
moby/packages/gcp/dockerimages/

# vendored sources -- these are synced by govendor
vendor/*/
common/cloudstor/src/cloudstor/vendor/*/

aws/dockerfiles/files/bin/*
aws/dockerfiles/files/elb-controller/container/bin/*
azure/dockerfiles/files/bin/*
azure/dockerfiles/files/alb-controller/container/bin/*
tools/*/bin/*
tools/*/src/*/vendor/
aws/release/tmp
aws/release/cfn_gen/outputs
azure/release/tmp
tools/buoy/bin/buoy
tools/metaserver/bin/metaserver
# Don't checkin the binary generated
common/cloudstor/cloudstor
*~
*#
.#*
*.pyc
