dist/
moby/

# vendored sources -- these are synced by govendor
vendor/*/
common/cloudstor/src/cloudstor/vendor/*/

aws/dockerfiles/files/bin/*
aws/dockerfiles/files/elb-controller/container/bin/*
azure/dockerfiles/files/bin/*
azure/dockerfiles/files/alb-controller/container/bin/*
tools/buoy/bin/buoy
aws/release/tmp
aws/release/cfn_gen/outputs
azure/release/tmp
tools/buoy/bin/buoy
tools/metaserver/bin/metaserver
# Don't checkin the binary generated
common/cloudstor/cloudstor
*~
*#
.#*
*.pyc
