{# Copyright 2016 Docker Inc. All rights reserved. #}

{% set REGION = properties['zone'][:properties['zone'].rfind('-')] %}
{% set VERSION = 'gcp-v1.13.0-rc2-beta12' %}

outputs:
- name: externalIp
  value: $(ref.{{ env['deployment'] }}-external-ip.address)
- name: leaderIp
  value: $(ref.{{ env['deployment'] }}-manager-1.networkInterfaces[0].accessConfigs[0].natIP)
- name: zone
  value: {{ properties['zone'] }}
- name: ssh
  value: "You can ssh into the Swarm with: gcloud compute ssh --zone {{ properties['zone'] }} {{ env['deployment'] }}-manager-1"

resources:
- name: {{ env['deployment'] }}-manager-1
  type: compute.v1.instance
  properties:
    zone: {{ properties['zone'] }}
    machineType: zones/{{ properties['zone']}}/machineTypes/{{ properties['managerMachineType'] }}
    tags:
      items: [swarm, {{ env['deployment'] }}-node]
    disks:
    - type: PERSISTENT
      boot: true
      autoDelete: false
      initializeParams:
        sourceImage: $(ref.{{ env['deployment'] }}-disk-image.selfLink)
        diskSizeGb: 10
    networkInterfaces:
    - network: $(ref.{{ env['deployment'] }}-network.selfLink)
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
    metadata:
      items:
      - key: startup-script
        value: |
          {% filter indent(10) %}{% include 'startup/manager.sh' %}{% endfilter %}
          {% filter indent(10) %}{% include 'startup/leader.sh' %}{% endfilter %}
      - key: managersJson
        value: |
          {% filter indent(10) %}{% include 'infrakit/managers.json.template' %}{% endfilter %}
      - key: workersJson
        value: |
          {% filter indent(10) %}{% include 'infrakit/workers.json.template' %}{% endfilter %}
    scheduling:
      preemptible: false
      onHostMaintenance: TERMINATE
      automaticRestart: false
    serviceAccounts:
    - scopes:
      - https://www.googleapis.com/auth/devstorage.read_only
      - https://www.googleapis.com/auth/logging.write
      - https://www.googleapis.com/auth/monitoring.write
      - https://www.googleapis.com/auth/service.management.readonly
      - https://www.googleapis.com/auth/servicecontrol
      - https://www.googleapis.com/auth/trace.append
      - https://www.googleapis.com/auth/compute

- name: {{ env['deployment'] }}-disk-image
  type: compute.v1.image
  properties:
    family: docker
    rawDisk:
      source: https://storage.googleapis.com/docker-for-gcp-images/{{ VERSION }}/gce.img.tar.gz

- name: {{ env['deployment'] }}-external-ip
  type: compute.v1.address
  properties:
    region: {{ REGION }}

- name: {{ env['deployment'] }}-target-pool
  type: compute.v1.targetPool
  properties:
    region: {{ REGION }}
    sessionAffinity: NONE
    instances: [$(ref.{{ env['deployment'] }}-manager-1.selfLink)]

- name: {{ env['deployment'] }}-lb-forward
  type: compute.v1.forwardingRule
  properties:
    region: {{ REGION }}
    IPProtocol: TCP
    portRange: 80-65535
    IPAddress: $(ref.{{ env['deployment'] }}-external-ip.address)
    target: $(ref.{{ env['deployment'] }}-target-pool.selfLink)

- name: {{ env['deployment'] }}-network
  type: compute.v1.network
  properties:
    autoCreateSubnetworks: true

- name: {{ env['deployment'] }}-allow-ssh
  type: compute.v1.firewall
  properties:
    network: $(ref.{{ env['deployment'] }}-network.selfLink)
    sourceRanges: [0.0.0.0/0]
    allowed:
    - IPProtocol: tcp
      ports: [22]

- name: {{ env['deployment'] }}-allow-lb
  type: compute.v1.firewall
  properties:
    network: $(ref.{{ env['deployment'] }}-network.selfLink)
    sourceRanges: [0.0.0.0/0]
    allowed:
    - IPProtocol: tcp
      ports: [80]

- name: {{ env['deployment'] }}-allow-internal
  type: compute.v1.firewall
  properties:
    network: $(ref.{{ env['deployment'] }}-network.selfLink)
    sourceRanges: [10.128.0.0/9]
    allowed:
    - IPProtocol: tcp
      ports: [0-65535]
    - IPProtocol: udp
      ports: [0-65535]
